


<style type="text/css">
https://bbis.clintonfoundation.org/2019/2019hp:1:"
   
         /*  SECTIONS  */
  .section {
  clear: both;
  padding: 0px;
  margin: 0px;
background-color: #FFF;
  }

  .sectiongroup3 {
  padding-top: 70px;
  }

  .sectiongroup4 {
  padding-top: 0px;
  }

  /*  COLUMN SETUP  */
  .col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
  }
  
  
  .topper_start .resposive .photo {
  width: 100%;
  height: auto;
  }




.topper_copy_col2b {margin-right: 10px;}

  .col:first-child { margin-left: 0; }

  /*  GROUPING  */
  .group:before,
  .group:after { content:""; display:table; }
  .group:after { clear:both;}
  .group { zoom:1; /* For IE 6/7 */ }
  /*  GRID OF TWO  */
  .span_2_of_2 {
  width: 48.4%;
  }
  .span_1_of_2 {
  width: 48.4%;
  }
  .span_3_of_8 {
    width: 36.5%;
    padding-top: 10px;
}

.span_5_of_8 {
    width: 61.9%;
  padding-bottom: 10px;
  padding-top: 10px;
}


.evaluators .col.span_1_of_4 img {
  }


  .span_1_of_4 {
  width: 23.8%;
  }
  .evaluators .col.span_1_of_4 img {
  }

  body {
  }
.piechart {
  display: inline-block;
}


.chartcopy {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    margin-top: 5px;
font-family: "open sans", sans-serif;
  font-size: 15px;
  color: #0a2a4c;
}


#chart{margin-top: 25px;}

.chart {
      display: table;
    margin: 0 auto;
    padding: 3px;
}

  /*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

  @media screen and (max-width: 900px) {
  .col { 
  margin: 0% 0 1% 0%;
  }
  }

  @media screen and (max-width: 900px) {
  .span_2_of_2, .span_1_of_2, .span_1_of_4, .span_3_of_8, .span_5_of_8  { width: 100%; }
  .sectiongroup3 {
  padding-top: 0px;
  }
  }

.copy {
  font-size: 19px;
  color: #0a2a4c;
  font-family: "open sans", sans-serif;
  text-transform: none;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
       margin-right: 25px; }


  * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  }

  .evaluators {
  max-width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }




  body {
  /*background: url("https://bbis.clintonfoundation.org/image/2015-donations/20150624cfdonationworkbgV2.jpg") no-repeat fixed left 0px top 0px #bad3e7; */
  font-family: arial, sans-serif;
  color: #0a2a4c;
  background-size: 100%;
  background-position: 50px 10px;
  background-color: #0b3b60;    

  }

  .photomobile {
  display: none;
  }


  .clearIt {
  clear: both;
  }


  .form_header h1 {
  font-size: 22px;
  color: #0a2a4c;
  font-family: "open sans", sans-serif;
  text-transform: none;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  line-height: 30px;
  margin-top: 10px;
  margin-right: 10px;
    margin-left:10px;
   margin-bottom: 5px;
  }
​


  /* WRAPPER, HEADER, FOOTER STYLES */
  #als_header, #als_topper, #als_footer {
  font-family: "open sans", sans-serif;
  }    
  .inner_width {
  max-width: 62em;
  }
  .inner_margin {
  margin: 0 0em 0 0;
  background-color: #fff;
  border-radius: 4px 4px 0px 0px;
  }

  .form_width {
  max-width: 40em;
  width: 55%;
  }

  .center_block {
  margin: 0 auto;
  }

  #als_header {
  background: #FFFFFF;
  padding: 0.5em 0;
  min-height: 7.5em;
  color:#000;
  opacity:1.0;
  }

  #als_header_mobile {
  display: none;
  }

  #als_header #header_logo {
  height: auto;
  margin-right: auto;
  max-width:12em;
  width: 100%;
  margin-bottom: 10px;
  display:block;
   margin-left:auto;
  margin-top:5px;  
  }

  #als_header h1 {
  margin-top: 0.5em;
  font-size: 22pt;
  font-weight: 300;
  text-transform:capitalize;
  max-width: 23em;
  }

  #als_topper {
  background: transparent;
  max-width: 70em;
  margin: 0em auto 0em;
  font-family: arial, sans-serif;
  }
  #als_topper .topper_copy {
  font-size: 11pt;
  color: #fff;
  padding-top: 0px;

  padding-left: 0px;
  padding-right: 0px;
  }    
  #als_topper .topper_copy .topper_start {
  text-transform: capitalize;
  font-size: 13pt;
  font-weight: bold;
  font-family: 'open sans', sans-serif;
  }

  #als_footer #footer_logo {
  float: left;
  height: auto;
  max-width: 175px;
  width: 100%;
  margin-right: 5px;
  }

#footer {
  background-color:#bcc5d1;
  float: right; }

#als_footer {
  background: #bcc5d1;
  padding: 1em 0;
  margin-top: 0em;
  font-style: italic;
  min-height: 7.5em;
  font-weight: 800;
  color:#0b3b60;
  }
  #als_footer a {
  color: #0a2a4c;
  text-decoration: underline;
  }    

  .charity_logo1
  {
  height: auto;
  margin-right: auto;
  max-width: 16em;
  width: 100%;
  margin-bottom: 0px;
  display: block;
  margin-left: auto;
  margin-top: 0px;
  }    

  .charity_logo {
  height: auto;
  margin-right: auto;
  max-width: 12em;
  width: 100%;
  margin-bottom: 0px;
  display: block;
  margin-left: auto;
  margin-top: 0px;
  }    




  @media screen and (max-width: 768px) {
  body {
  background-image: none;
  background: #FFFFFF;
  }
  #als_header {

  }
  #als_header_mobile {
  display: block;
  }
  #als_header_mobile #header_logo_mobile {
  max-width: 560px;
  width: 100%;
  height: auto;
  }
  #als_topper .topper_copy {

  margin: 0;
  font-size: 12pt;
  padding-top: 1px;
  padding-left: 0px;
  padding-right:0px;
  }



  #als_footer   {
  margin: 0;
  text-align:left;
  }
  #als_footer #footer_logo {
  margin-left: 20px;
  margin-right: 440px;
  margin-bottom: 10px;


  } 
  #footer_logo {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  #als_box > .BBFormTable, .form_width {

  max-width: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0;
  }
  }




  .main-content {
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom:1px;
  }
  .custom-form-wrap div[id$='pnlDonationForm'] {
  min-height: auto;
  }



  .video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }

  p {
  margin: 10px 10px 10px;
  font-size: 16px;
  } 

@media(max-width:1150px){
.section.group5 {
  display: none;
    }
  .copy {
    font-size: 16px;}
  
}

@media screen and (min-width: 1150px) {
  .section.group6 {
  display: none;
  }
}


  @media(min-width:900px){
  .text-content {
  float: left;
  width: 40%;
  margin-right: 4%;
  margin-top: 110px;
  padding:20px;
  }
  .custom-form-wrap {
  float: left;
  width: 55%;
  }
  }
  @media(max-width:900px){
  body {
  background-image:none !important;}
    #header{display:none;}    
    .photo {
  display: none;
  }
  .photomobile {
  display: block;
  width: 100%;
  height: auto;
  }
    .topper_copy_col2b {
   
    margin-left: 10px;
}

       .form_header h1 {
    font-size: 14pt;
  line-height: 25px;}
    
    .copy {font-size: 16px;}
  }
  .text-content {
  color: #0d345f;
  padding: 35px 35px 0;
  }

  #als_header h1 {

  font-size: 22px;
  }
     
     
    .mini-donation {
    background-color: #fff;
    width: 100%;
    padding-left: 1em;
    background: #fff;
    margin-left: 8px;   
    
       
    
} 

.col-lg-3 {
    width: 90% !important;
}
  
  .miniBtn {
    color: #ffffff;
    background-color: #1871A8;
    max-width: 100%;}
  
  .bbminiform-amtboxmain {
    color: #1C84C6;
    font-size: 1em;
    max-width: 320px;
    min-width: 120px;
    padding: 0.5%;
    float: left;
    text-align: center;
    vertical-align: middle;
}  
  
   .bbminiform-segmented-control {
    margin: 0 0; 
   margin-left: 0px; 
    margin-right: 0px; 
}  
</style>
